<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
    .tit{
        text-align: center;
        margin-top:5%
    }
    .container{
        padding: 30px;
        background-color: black;
        border-radius: 0.5%;
        margin-top: 5%;
    }
    table, th, td {
      border:1px solid rgb(160, 160, 160);
      border-collapse: collapse;
      background:white;
      

    }
    th,
    td {
        padding: 20px;
        border-top: none;
    }
    th {
        text-align: left;
        background-color: rgb(233, 233, 233);
        color: rgb(75, 75, 75);
        
    }
    .bg{
        background-color:white;
        text-align: center;
        padding: 20px;
    }
    </style>
<h1 class="tit">Book</h1>

<div class="container">
    <!---------------------------------------FORM--------------------------------->
    <div class="bg">
        <div *ngFor="let name of checkboxData">
            <input type="checkbox" [name]="name" (change)="onChange($event)" > {{ name}}
             </div>
    </div>





    <!------------------------------------------FORM END--------------------------->
<table class="table">
    
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.title}}</td>
        <td>{{user.body}}</td>
    </tr> 
</table>
</div>
  